/* Definindo variáveis globais */
:root {
    --primary-color: rgb(250, 71, 41, 1);
    --footer-background: #333;
    --footer-text: white;
    --footer-link: #fc6a5a;
}

/* Estilo global do body */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* Estilo da classe main */
main {
    width: 100%;
    /* max-width: 1500px; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 150px repeat(3, auto);
    grid-template-areas:
        "cabecalho"
        "portifolioPane"
        "rodape";
}

/* Adiciona um estilo básico para as seções */
section {
    display: flex;
    align-items: center;
}



/* Estilo do cabeçalho */
header {
    grid-area: cabecalho;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    border-bottom: none;
}

#portifolioPane {
    grid-area: portifolioPane;
    display: flex;
    justify-self: center;
    margin-top: 1em;
    border-style: solid;
    border-color: transparent;
    box-shadow:
        5px 5px #fc6a5a, -5px -5px #333333
}

#portifolioContainer {
    display: flex;
    gap: 2em;
}

#portifolioContainer a {
    text-decoration: none;
    width: 100%;
}

#portifolioContainer div:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.portifolioContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 200px;
}

.portifolioContentContainer h3 {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#firstSite {
    background-image: url(../images/perfilLinkedinDarkCopy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#secondSite {
    background-color: yellow;
}

#thirdSite {
    background-color: orange;
}

#forthSite {
    background-color: khaki;
}

/* Links dos parceiros */
.partnersLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo dos ícones das redes sociais no rodapé */
.partnersLinks i {
    font-size: 1.5em;
}

/* Estilo dos links de parceiros no rodapé */
.partnersLinks button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    color: #fc6a5a;
    margin-right: 1em;
}

.partnersLinks button:hover #facebook {
    color: #3b5998;
    /* Cor do Facebook */
}

.partnersLinks button:hover #instagram {
    color: #e1306c;
    /* Cor do Instagram */
}

.partnersLinks button:hover #whatsapp {
    color: #25D366;
    /* Cor do WhatsApp */
}

.partnersLinks button:hover #spotify {
    color: #1ed760;
    /* Cor do Spotify */
}

.partnersLinks button:hover #google {
    color: #4285F4;
    /* Cor do Google */
}

.partnersLinks button:hover #github {
    color: #6e5494;
    /* Cor do GitHub */
}

/* Estilo do footer */
footer {
    display: flex;
    grid-area: rodape;
    background-color: var(--footer-background);
    color: var(--footer-text);
    max-width: 100%;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
}


/* Estilo da parte superior do footer */
#topFooter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


/* Estilo do lado esquerdo do footer */
#leftFoot {
    max-width: 300px;
    /* Ajuste conforme necessário */
}

/* Estilo do lado esquerdo do footer */
#leftFoot h4 {
    color: var(--footer-link);
    font-size: 1.2em;
    margin-bottom: 1em;
}

#leftFoot h3 {
    font-size: 1.5em;
}

#leftFoot a {
    color: var(--footer-link);
    text-decoration: none;
}

/* Estilo da parte do meio do footer */
#middleFoot ul {
    list-style: none;
    padding: 0;
}

/* Estilo da parte do meio do footer */
#middleFoot h4 {
    color: var(--footer-link);
    font-size: 1.2em;
    margin-bottom: 1em;
}

#middleFoot li {
    margin-bottom: 0.5em;
}

#middleFoot a {
    color: white;
    text-decoration: none;
}

#middleFoot a:hover {
    text-decoration: underline;
}

/* Estilo do lado direito do footer */
#rightFoot ul {
    list-style: none;
    padding: 0;
}

/* Estilo do lado direito do footer */
#rightFoot h4 {
    color: var(--footer-link);
    font-size: 1.2em;
    margin-bottom: 1em;
}

#rightFoot address {
    color: white;
    font-size: 0.9em;
}

#rightFoot h3 {
    font-size: 1.2em;
    color: #fc6a5a;
    margin-top: 0.5em;
}

/* Adicionando ícone de e-mail ao lado do email */
#rightFoot h3::before {
    content: '\2709';
    margin-right: 0.2em;
}

#rightFoot li {
    margin-bottom: 0.5em;
}

#rightFoot a {
    color: white;
    text-decoration: none;
}

#rightFoot a:hover {
    text-decoration: underline;
}


#bottomFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
    flex-wrap: wrap;
    width: 100%;
}


#bottomFooter button {
    margin-bottom: 0.5em;
}


#bottomFooter h6 {
    color: var(--footer-link);
    font-size: 0.8em;
}

/* Para smartphones */
@media only screen and (max-width: 480px) {
    main {
        grid-template-rows: auto;
        grid-template-areas:
            "rodape";
    }

    header {
        display: none;
    }

    footer {
        width: auto;
        margin-top: 35em;
    }

    #topFooter {
        flex-direction: column;
        align-items: center;
    }

    #leftFoot,
    #middleFoot,
    #rightFoot {
        text-align: center;
    }

    #bottomFooter {
        flex-direction: column;
        align-items: center;
    }
}

/* Para tablets e dispositivos maiores */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "cabecalho"

            "rodape";
    }

    header {
        display: flex;
    }

    footer {
        padding: 2em;
    }
}